[user]
	name = Andrea Bernardini
	email = andrea.bernardini@icloud.com
[difftool]
  prompt = false
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[alias]
  # Basic Shortcuts
  cp = cherry-pick
  st = status -s
